/.idea
/.vscode
/.fleet
/.nova
/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.DS_Store
.env
.env.backup
.env.production
.env.*.local
.phpactor.json
.phpunit.result.cache
auth.json
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/coverage
/.php-cs-fixer.cache
/.rector.cache
